body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque;
}
.app {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 20px;
}
.product{
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0,0, 0.1);
  width: 200px;
  text-align: center;
}
.product span{
  font-weight: bold;
  display: block;
  margin-top: 1px;
}
.quantity-selector{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.quantity-selector button{
background:  blueviolet;
color: black;
border: none;
padding: 8px 12px;
cursor: pointer;
font-size:  16px;
border-radius: 5px;
}

.quantity-selector  button:hover{
  background: blue;
}

.quantity-selector span{
  margin: 0 10px;
  font-size:  16px;;
}

button{
  background: #27a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.3;
}
.cart{
  margin-bottom: 15px;
}
.cart h2{
  margin-bottom: 15px;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:  1px solid #ddd ;
  padding :10px 0;
} 
.cart-item button{
  background: #dc3545;
  font-size :12px;
  padding: 6px 10px;
}
.progress-bar{
  font-size: 14px;
  margin-bottom: 8px;
}
.bar{
  height: 12px;
  background: #e9ecef;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.fill{
  height: 100%;
  background: #17a2b8;
  transform: width 0.3s;
  border-radius: 8px;
}